In [1]:
#1. What is a database? Differentiate between SQL and NoSQL databases.

#Ans

#A database is a collection of data that is organized and stored in a computer system. The data in a database can be structured in tables, which consist of rows and columns, or it can be unstructured.

#SQL (Structured Query Language) and NoSQL (Not Only SQL) are two types of databases that differ in their data models, query languages, and usage.

#SQL databases are relational databases that use a tabular structure to store data. They are characterized by their fixed schema, which means that the structure of the database is defined at the time of creation and cannot be changed without altering the schema. SQL databases are widely used in applications that require complex queries and transactions, such as banking and finance.

#NoSQL databases, on the other hand, use a non-relational data model, which allows for flexible schema designs that can adapt to changing data needs. NoSQL databases can store both structured and unstructured data and can be used for a variety of applications, including web and mobile applications, social networks, and real-time analytics.

In [ ]:
#2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

#Ans

#DDL (Data Definition Language) is a set of SQL commands used to define the structure of a database schema, including creating, altering, and deleting database objects such as tables, views, indexes, and constraints. The following are some common DDL commands and their usage:

#1 - CREATE: The CREATE command is used to create a new database object, such as a table or view. For example, to create a new table named "customers" with columns for customer ID, name, and email, the following SQL statement can be used:

#Example of CREATE

CREATE TABLE customers (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    email VARCHAR(100)
);

#2 - DROP: The DROP command is used to delete an existing database object, such as a table or view. For example, to delete the "customers" table created in the previous example, the following SQL statement can be used:

#Example of DROP

DROP TABLE customers;

#3 - ALTER: The ALTER command is used to modify an existing database object, such as a table or view. For example, to add a new column for customer phone numbers to the "customers" table, the following SQL statement can be used:

#Example of ALTER

ALTER TABLE customers ADD COLUMN phone VARCHAR(20);

#4 - TRUNCATE: The TRUNCATE command is used to delete all the data from an existing table, while keeping its structure intact. For example, to delete all the data from the "customers" table, the following SQL statement can be used:

#Example of TRUNCATE

TRUNCATE TABLE customers;

In [ ]:
#3. What is DML? Explain INSERT, UPDATE, and DELETE with an example

#Ans

#DML (Data Manipulation Language) is a set of SQL commands used to manipulate the data stored in a database. The following are some common DML commands and their usage:

#1 - INSERT: The INSERT command is used to add new data to a database table. For example, to add a new customer with an ID of 1, a name of "Vishal Jha", and an email of "vishaljha@example.com" to the "customers" table, the following SQL statement can be used:

#Example of INSERT

INSERT INTO customers (id, name, email) VALUES (1, 'Vishal Jha', 'vishaljha@example.com');

#2 - UPDATE: The UPDATE command is used to modify existing data in a database table. For example, to update the email of the customer with an ID of 1 to "vishal.jha@example.com", the following SQL statement can be used:

#Example of UPDATE 

UPDATE customers SET email = 'vishal.jha@example.com' WHERE id = 1;

#3 - DELETE: The DELETE command is used to remove data from a database table. For example, to delete the customer with an ID of 1 from the "customers" table, the following SQL statement can be used:

#Example of DELETE

DELETE FROM customers WHERE id = 1;

In [ ]:
#4. What is DQL? Explain SELECT with an example

#Ans 

#DQL (Data Query Language) is a set of SQL commands used to retrieve data from a database. The most commonly used DQL command is SELECT, which is used to retrieve data from one or more database tables based on certain criteria. The SELECT command can be used with various clauses, such as WHERE, GROUP BY, ORDER BY, and HAVING, to filter, group, sort, and aggregate data as needed. Here is an example of how to use the SELECT command:

#Suppose we have a table named "employees" with the following columns: "employee_id", "first_name", "last_name", "department", "salary". To retrieve the first name, last name, and salary of all employees in the "sales" department who have a salary greater than ₹50,000 the following SQL statement can be used:

#Example 

SELECT first_name, last_name, salary
FROM employees
WHERE department = 'sales' AND salary > 50000;

#This SQL statement uses the SELECT command to retrieve the "first_name", "last_name", and "salary" columns from the "employees" table, and filters the results using the WHERE clause to include only those employees in the "sales" department with a salary greater than  ₹50,000. The resulting data will be a table with the selected columns and rows that meet the specified conditions.

In [6]:
#5. Explain Primary Key and Foreign Key.

#Ans

#A primary key is a column or set of columns in a table that uniquely identifies each row in the table. It is used to enforce the integrity of the data in the table and to ensure that each row can be uniquely identified. For example, in a table of "employees", the "employee_id" column may be chosen as the primary key because it is unique for each employee and can be used to identify them uniquely.

#A foreign key, on the other hand, is a column or set of columns in a table that references the primary key of another table. It establishes a relationship between the two tables, allowing data from one table to be linked to data in another table. For example, in a table of "orders", there may be a column named "customer_id" that references the primary key of the "customers" table. This allows the order data to be associated with the customer data, ensuring that the order is placed by a valid customer.

In [ ]:
#6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

#Ans

import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

#The cursor() method returns a cursor object, which is used to execute SQL commands and retrieve results. It provides several methods for interacting with the database, including execute(), fetchone(), and fetchall().

#The execute() method is used to execute SQL commands, such as SELECT, INSERT, UPDATE, and DELETE. It takes a string parameter that contains the SQL command to be executed. Any necessary parameters can be passed using placeholders, such as "?" or "%s", and a tuple or dictionary of values.

In [9]:
#7. Give the order of execution of SQL clauses in an SQL query.

#Ans

#1 - FROM clause: This clause specifies the table or tables from which data will be retrieved.

#2 - JOIN clause: This clause is used to combine data from multiple tables. It is executed after the FROM clause.

#3 - WHERE clause: This clause is used to filter data based on a specified condition. It is executed after the JOIN clause.

#4 - GROUP BY clause: This clause is used to group data by one or more columns. It is executed after the WHERE clause.

#5 - HAVING clause: This clause is used to filter data based on a specified condition on a group. It is executed after the GROUP BY clause.

#6 - SELECT clause: This clause specifies the columns to be included in the result set. It is executed after the GROUP BY and HAVING clauses.

#7 - ORDER BY clause: This clause is used to sort the result set by one or more columns. It is executed after the SELECT clause.

#8 - LIMIT clause: This clause is used to limit the number of rows returned by the query. It is executed last, after all other clauses have been executed.